@import "tailwindcss";

@theme {

   --color-perl: rgb(249, 244, 239);
  --color-coral: #fde9dc;
  --color-lavender: #cfc5ed;
  --color-navy: #4e5764;
  --color-lightblue: #dce9ec;
  --color-softblack: #2a2a2a;
  --color-base:rgb(255, 252, 247);
/*   
  --color-base: rgb(236, 234, 232);
  --color-coral: #fde9dc;
  --color-lavender: #cfc5ed;
  --color-navy: #1f2a3b;
  --color-lightblue: #dce9ec;
  --color-softblack: #2a2a2a;
  --color-perl:rgb(255, 253, 249); */

  --font-sans: 'Inter', sans-serif, courier, monospace;
  --font-courier: 'Courier New', Courier, monospace;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-base text-navy font-sans;
  }

  h1, h2, h3 {
    @apply font-bold text-navy;
  }
}
html, body {
  overflow-x: hidden;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
